<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>InvestPulse - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!--  Main CSS File -->
  <link href="static/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">enquires@investpulse.com</a></i>
        <i class="bi bi-phone d-flex align-items-center ms-4"><span>0781 268 942</span></i>
      </div>
      <div class="social-links d-none d-md-flex align-items-center">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
    </div>
  </section>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="index.html">InvestPulse<span>.</span></a></h1>
      <!-- Uncomment below to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="static/img/logo.png" alt=""></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#pricing">Pricing</a></li>
          <li class="dropdown">
            <a href="#"><span>Products</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Startups</a></li>
              <li><a href="#">Scaling Companies</a></li>
              <li><a href="#">Investors</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->      
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <h1>Welcome to <span>InvestPulse</span></h1>
      <h2>We facilitate seamless connections between founders and investors, empowering entrepreneurs to scale their ventures with confidence</h2>
      <div class="d-flex">
        <a href="register" class="btn-get-started">Get Started</a>
        <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Demo</span></a>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4 class="title"><a href="">Scaling Companies</a></h4>
              <p class="description">Unlock growth opportunities effortlessly and take your company to new heights.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title"><a href="">Startups</a></h4>
              <p class="description">Launch your startup with confidence and find the support you need to turn your vision into reality.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4 class="title"><a href="">Investors</a></h4>
              <p class="description">Discover promising ventures and fuel innovation by connecting with ambitious founders.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4 class="title"><a href="">Venture Capital</a></h4>
              <p class="description">Invest in the future of innovation and secure lucrative opportunities with InvestPulse's curated selection of high-potential startups.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Featured Services Section -->

   
    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
      <div class="container" data-aos="fade-up">
    
        <div class="section-title">
          <h3><span>About Us</span></h3>
          <p>InvestPulse is dedicated to simplifying fundraising and investment processes for startups in Africa. Our platform acts as a catalyst, connecting visionary founders with strategic investors to facilitate seamless connections and drive innovation.</p>
        </div>
    
        <div class="row">
          <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
            <img src="static/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <h3>Empowering African Entrepreneurs, Fueling Innovation</h3>
            <p class="fst-italic">
              At InvestPulse, we believe in the transformative power of entrepreneurship.
            </p>
            <ul>
              <li>
                <i class="bx bx-store-alt"></i>
                <div>
                  <h5>Streamlined Fundraising</h5>
                  <p>Our platform simplifies the fundraising process, connecting African founders with the right investors to fuel their growth.</p>
                </div>
              </li>
              <li>
                <i class="bx bx-images"></i>
                <div>
                  <h5>Strategic Investment Opportunities</h5>
                  <p>Discover strategic investment opportunities and unlock the potential of innovative startups in Africa.</p>
                </div>
              </li>
            </ul>
            <p>
              We are committed to creating a vibrant ecosystem where startups thrive and investors find value. Join us in shaping the future of entrepreneurship in Africa.
            </p>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->    

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
              <p>Happy Clients</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="count-box">
              <i class="bi bi-journal-richtext"></i>
              <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
              <p>Projects</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="bi bi-headset"></i>
              <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
              <p>Hours Of Support</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="bi bi-people"></i>
              <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
              <p>Hard Workers</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients section-bg">
      <div class="container" data-aos="zoom-in">

        <div class="row">

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="static/img/clients/client-1.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="static/img/clients/client-2.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="static/img/clients/client-3.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="static/img/clients/client-4.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="static/img/clients/client-5.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="static/img/clients/client-6.png" class="img-fluid" alt="">
          </div>

        </div>

      </div>
    </section><!-- End Clients Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="zoom-in">

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="static/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                <h3>Grace Njoku</h3>
                <h4>Founder & CEO, TechStartup</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  InvestPulse has been a game-changer for TechStartup. The platform's matchmaking capabilities have connected us with investors who truly understand the African market. With InvestPulse, we've been able to secure funding that has fueled our growth and expansion across the continent.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->
            
            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="static/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                <h3>Samuel Mensah</h3>
                <h4>Co-founder & COO, AgriTech Innovations</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  As a co-founder of AgriTech Innovations, I can confidently say that InvestPulse has been instrumental in our journey. The platform's data analytics tools have provided us with valuable insights into market trends and investor preferences, helping us refine our strategy and attract the right investors for our agricultural innovations.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->
            
            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="static/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                <h3>Abdul Kabir</h3>
                <h4>Investment Analyst, AfricaVentures</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  InvestPulse has significantly enhanced my work as an investment analyst at AfricaVentures. The platform's investment round-up reports provide valuable insights into funding activities within the African startup ecosystem, enabling us to identify emerging trends and promising investment opportunities. It's a must-have tool for anyone involved in African investments.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->
            
            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="static/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                <h3>Michelle Okeke</h3>
                <h4>Angel Investor</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  InvestPulse has simplified the investment process for me as an angel investor interested in the African market. The platform's matchmaking features have connected me with promising startups and scaling companies that align with my investment criteria. With InvestPulse, I feel confident in making informed investment decisions that support the growth and development of African entrepreneurship.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->                          

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

<!-- ======= Pricing Section ======= -->
<section id="pricing" class="pricing">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Pricing</h2>
      <h3>Choose the Right Plan for <span>Your Startup</span></h3>
      <p>InvestPulse offers flexible pricing plans to meet the needs of startups at every stage of growth.</p>
    </div>

    <div class="row">

      <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="box featured">
          <h3>Starter</h3>
          <h4>Free</h4>
          <ul>
            <li>Access to Basic Features</li>
            <li>Limited Investor Matches</li>
            <li>Basic Support</li>
            <li class="na">Customization Options</li>
            <li class="na">Advanced Analytics</li>
          </ul>
          <div class="btn-wrap">
            <a href="#" class="btn-buy">Get Started</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
        <div class="box featured">
          <h3>Growth</h3>
          <h4><sup>$</sup>19<span> / month</span></h4>
          <ul>
            <li>Access to Premium Features</li>
            <li>Expanded Investor Network</li>
            <li>Priority Support</li>
            <li>Customization Options</li>
            <li class="na">Advanced Analytics</li>
          </ul>
          <div class="btn-wrap">
            <a href="#" class="btn-buy">Get Started</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
        <div class="box featured">
          <h3>Scale</h3>
          <h4><sup>$</sup>29<span> / month</span></h4>
          <ul>
            <li>Access to Premium Features</li>
            <li>Expanded Investor Network</li>
            <li>Priority Support</li>
            <li>Customization Options</li>
            <li>Advanced Analytics</li>
          </ul>
          <div class="btn-wrap">
            <a href="#" class="btn-buy">Get Started</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
        <div class="box">
          <span class="advanced">Custom</span>
          <h3>Enterprise</h3>
          <h4>Custom Pricing</h4>
          <ul>
            <li>Customized Features</li>
            <li>Premium Support</li>
            <li>Enterprise-Grade Security</li>
            <li>Scalability</li>
            <li>Advanced Analytics</li>
          </ul>
          <div class="btn-wrap">
            <a href="#" class="btn-buy">Contact Us</a>
          </div>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Pricing Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
<section id="faq" class="faq section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>F.A.Q</h2>
      <h3>Frequently Asked <span>Questions</span></h3>
      <p>Here are some common questions about InvestPulse:</p>
    </div>

    <div class="row justify-content-center">
      <div class="col-xl-10">
        <ul class="faq-list">

          <li>
            <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">How does InvestPulse help startups find investors? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq1" class="collapse" data-bs-parent=".faq-list">
              <p>
                We provide a streamlined platform for startups to connect with investors. Through our matchmaking algorithms and curated investor network, startups can easily find the right investors to fuel their growth.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">What types of investors are available on InvestPulse? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq2" class="collapse" data-bs-parent=".faq-list">
              <p>
                We offer access to a diverse range of investors, including angel investors, venture capitalists, and strategic partners. Our platform caters to the needs of startups at various stages of growth.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">How can investors benefit from using InvestPulse? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq3" class="collapse" data-bs-parent=".faq-list">
              <p>
                Investors can discover promising investment opportunities on InvestPulse and connect with innovative startups. Our platform provides access to curated deal flow and facilitates efficient communication between investors and founders.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">Is InvestPulse suitable for scaling companies? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq4" class="collapse" data-bs-parent=".faq-list">
              <p>
                Yes, we cater to scaling companies seeking funding and strategic partnerships. Our platform offers tailored solutions to help companies accelerate their growth and achieve their expansion goals.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">How does InvestPulse ensure the security of user data? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq5" class="collapse" data-bs-parent=".faq-list">
              <p>
               We take the security and privacy of user data seriously. We employ robust encryption protocols and adhere to strict data protection regulations to safeguard user information.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">Can I access InvestPulse from any device? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq6" class="collapse" data-bs-parent=".faq-list">
              <p>
                Yes, our platform is designed to be accessible from any device with an internet connection. Whether you're using a desktop, laptop, tablet, or smartphone, you can access our platform anytime, anywhere.
              </p>
            </div>
          </li>

        </ul>
      </div>
    </div>

  </div>
</section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <h3><span>Contact Us</span></h3>
          <p>Our team are here to give you personalised support.
            To speak to one of us, please fill the form below.</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-6">
            <div class="info-box mb-4">
              <i class="bx bx-map"></i>
              <h3>Our Address</h3>
              <p>KN 3 Remera, Kigali, Rwanda</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-envelope"></i>
              <h3>Email Us</h3>
              <p>enquires@investpulse.com</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-phone-call"></i>
              <h3>Call Us</h3>
              <p>0781 268 942</p>
            </div>
          </div>

        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-6 ">
            <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3987.481599110727!2d30.11834167377312!3d-1.9610366980212015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x19dca69adbd0ffcd%3A0x8cb9848cdf13613c!2sKN%205%20Rd%2C%20Kigali!5e0!3m2!1sen!2srw!4v1709741514997!5m2!1sen!2srw"  frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
          </div>

          <div class="col-lg-6">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h4>Subscribe to Our Newsletter</h4>
            <p>Stay up-to-date with the latest news and updates from InvestPulse.</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Investpulse<span>.</span></h3>
            <p>
              KN 5<br>
              Remera, Kigali<br>
              Rwanda<br><br>
              <strong>Phone:</strong>0781 268 942<br>
              <strong>Email:</strong> enquires@investpulse.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Products</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">For Startups</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">For Scaling Companies</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">For Investors</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">For Angel Syndicates</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <p>Stay updated with our latest news and announcements by following us on social media.</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container py-4">
      <div class="copyright">
        &copy; Copyright <strong><span>InvestPulse</span></strong>. All Rights Reserved
      </div>

    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/vendor/aos/aos.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>

</body>

</html>